version: "3.9"

services:
  polkajam-testnet:
    image: polkajam:v0.1.27-aarch64
    platform: linux/arm64
    command:
      - polkajam-testnet
      - --base-port
      - "40000"
      - --base-rpc-port
      - "19800"
    volumes:
      - polkajam-data:/data
    tty: true
    stdin_open: true

  corevm-setup:
    image: polkajam:v0.1.27-aarch64
    platform: linux/arm64
    network_mode: "service:polkajam-testnet"
    depends_on:
      - polkajam-testnet
    volumes:
      - polkajam-data:/data
      - ./scripts/corevm-setup.sh:/corevm-setup.sh
    entrypoint: ["/bin/bash", "/corevm-setup.sh"]

# TODO - it seems that ubuntu docker does not have corevm-monitor - need to uynderstand why
  corevm-monitor:
    image: polkajam:v0.1.27-aarch64
    platform: linux/arm64
    depends_on:
      - corevm-setup
    volumes:
      - polkajam-data:/data
      - ./scripts/corevm-monitor.sh:/corevm-monitor.sh
    entrypoint: ["/bin/bash", "/corevm-monitor.sh"]
    tty: true
    stdin_open: true

volumes:
  polkajam-data:
