name: Publish @typeberry/jammin next packages to NPM

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  publish-next:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: [cli]

    steps:
    - uses: actions/checkout@v4

    - uses: oven-sh/setup-bun@v1
      with:
        bun-version: 1.3.3

    - name: Install dependencies
      run: bun install

    - name: Publish package @typeberry/${{ matrix.project }}
      env:
        NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: bun publish:${{ matrix.project }}

