name: Quality Assurance

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-qa:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: oven-sh/setup-bun@v1
      with:
        bun-version: 1.3.3

    - name: Install dependencies
      run: bun install

    - name: Run QA Checks
      run: bun run qa

    - name: Run Tests
      run: bun test

    - name: Run Build
      run: bun run build

